<div id="admin-user-editor">
    <div class="user-details-place">
        <label for="name">Name:</label>
        <input type="text" id="name" value={{name}}>
    </div>

    <div class="user-details-place">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" value={{surname}}>
    </div>

    <div class="user-details-place">
        <label for="email">Email:</label>
        <input type="text" id="email" value={{email}}>
    </div>

    <div class="user-details-place">
        <label for="login">Login:</label>
        <input type="text" id="login" value={{email}}>
    </div>

    <div class="user-details-place">
        <label for="roles">Roles:</label>
        <input type="text" id="roles" value={{roles}}>
    </div>

    <div class="user-details-place">
        <label for="animals">Animals:</label>
        <input type="text" id="animals" value={{animals}}>
    </div>

    <div class="userControl">
        <input type="button" id="SaveBtn" value="Save">
        <input type="button" id="CancelBtn" value="Cancel">
    </div>

</div>
