<div id="admin-user-editor">
    <div class="user-details-place">
        <label for="name-txt">Name:</label>
        <input type="text" id="name-txt" value={{name}}>
    </div>

    <div class="user-details-place">
        <label for="surname-txt">Surname:</label>
        <input type="text" id="surname-txt" value={{surname}}>
    </div>

    <div class="user-details-place">
        <label for="email-txt">Email:</label>
        <input type="text" id="email-txt" value={{email}}>
    </div>

    <div class="user-details-place">
        <label for="login-txt">Login:</label>
        <input type="text" id="login-txt" value={{email}}>
    </div>

    <div class="user-details-place">
        <label for="roles-txt">Roles:</label>
        <input type="text" id="roles-txt" value={{roles}}>
    </div>

    <div class="user-details-place">
        <label for="animals-txt">Animals:</label>
        <input type="text" id="animals-txt" value={{animals}}>
    </div>

    <div class="userControl">
        <input type="button" id="SaveBtn" value="Save">
        <input type="button" id="CancelBtn" value="Cancel">
    </div>

</div>
