<div id="animals">
    <tr class="animalsHeader">
        <th>Order</th>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Cage</th>
        <th>Keeper</th>
    </tr>
    {{#animals}}
        <td>{{order}}</td>
        <td>{{name}}</td>
        <td>{{species}}</td>
        <td>{{age}}</td>
        <td>{{cage}}</td>
        <td>{{keeper}}</td>
    {{/animals}}
</div>